[Unit]
Description=Sweet Security
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /opt/sweetsecurity/client/sweetSecurity.py

[Install]
WantedBy=multi-user.target
